body {
    margin: 0;
    background-image: url("meds.jpg");
    background-repeat: no-repeat;
    font-weight: 100;
  }

  table {
    margin-top:4%;
    width:90%;
    border-collapse: collapse;
    overflow: hidden;
    
  }
  
  th,td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.699);
    color: rgb(17, 15, 15);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  th {
    text-align: left;
  }
  thead th {
    background-color: #70ace4de;
    color:rgba(2, 1, 1, 0.733);
  }
  
  tbody tr:hover {
    background-color: rgb(240, 1, 9);
  }
  
  tbody td {
    position: relative;
  }
  
  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.897);
     z-index: -1;
  }

#table-list{
    border-collapse: collapse;
    width: 70%;
    position:absolute;
    top: 40%;
    left:10%;
   
}

#searchbar{
    display: inline;
    position: absolute;
    top: 44%;
    left: 18%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.inputs{
    position: absolute;
    top: 40%;
    left: 30%;  
}

tr, th, td,tfoot{
    padding: 10px;
    text-align: left;
}

.button{ 
    font-size: 15px;
    border-radius:30px;
    width:187px;
    height: 40px;
    cursor: pointer;
    color: rgb(250, 250, 250);
    background-color:rgba(122, 109, 106, 0.788);
    transition: background-color.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:active {
  background-color: #adc7ae;
  box-shadow: 0 5px rgb(94, 48, 48);
  transform: translateY(4px);
}
.button:hover{
    background-color:white;
    color:rgb(175, 95, 95);
}

h1{
    padding: 20px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.title{
  min-height: 100vh;
  width:25%;
  left:20%;
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position:relative;
}

#warn{
  font-size: 10px;
    color: rgb(228, 70, 8);
    text-align: center;
}
 
h1{
    animation: 1.2s slideIn ease-in-out forwards 1s;
    z-index: 20;
    opacity: 0;

}
h1::before {
    content: '';
    width: 0%;
    height: 5px;
    position: absolute;
    background-color: #e4f0ef;
    bottom: 3px;
    line-height: 1.2;
    animation: 1s underline ease-in-out forwards 2s;
    mix-blend-mode: screen;
}

@keyframes skewBg {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 9;
  }
}

@media (max-width:600px){
#table-list .inputs{
    flex-direction: column; 
    display:flex;
}
#table-list{
  margin-top: 150px;
}}

tfoot,input, #addDrug{
  border-radius: 30px;
  padding: 7px;
}

